<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Calculator</title>
</head>
<body>
  <div id="app">
    <div class="grid">
      <p><input @keyup.enter="calc()" type="text" v-model="n1" @input="calc" placeholder="0"> 
      <button @click="multiply10()">x10</button>
      <button @click="multiply100()">x100</button></p>
      <p><input @keyup.enter="calc()" type="text" v-model="n2" @input="calc" placeholder="0">
      <button @click="multiply2()">x2</button>
      <button @click="multiply4()">x4</button></p>
      <p><input @keyup.enter="calc()" type="text" v-model="result" @input="reset" placeholder="0">
      <p><input @keyup.enter="calc()" type="text" v-model="result2" @input="reset" placeholder="0">
      <p><input @keyup.enter="calc()" type="text" v-model="result3" @input="reset" placeholder="0"></p>
      <button @click="reset()">C</button>
    </div>
  </div>
</body>
<script src="script.js"></script>
</html>